<div class="row">
    <div class="col-md-9 col-md-offset-1 well drop-shadow raised" ng-repeat="q in questions" ng-class="{noAns: noAnswer}" >
        <h4 ng-bind-template="{{$index + 1}}. {{q.question}}"></h4>
        <hr/>
        <table>
            <tr>
                <td class="td-padding">
                    <input type="radio" name="question-{{q.id}}" id="radioQ{{q.id}}A1" ng-value="q.variants.v1"
                           ng-model="q.selectedAnswer" class="css-checkbox" />
                    <label for="radioQ{{q.id}}A1" class="css-label" ng-bind="q.variants.v1" ng-click="setAnswer($index)"></label>
                </td>
            </tr>
            <tr>
                <td class="td-padding">
                    <input type="radio" name="question-{{q.id}}" id="radioQ{{q.id}}A2" ng-value="q.variants.v2"
                           ng-model="q.selectedAnswer" class="css-checkbox"/>
                    <label for="radioQ{{q.id}}A2" class="css-label" ng-bind="q.variants.v2"></label>
                </td>
            </tr>
            <tr>
                <td class="td-padding">
                    <input type="radio" name="question-{{q.id}}" id="radioQ{{q.id}}A3" ng-value="q.variants.v3"
                           ng-model="q.selectedAnswer" class="css-checkbox"/>
                    <label for="radioQ{{q.id}}A3" class="css-label" ng-bind="q.variants.v3"></label>
                </td>
            </tr>
            <tr>
                <td class="td-padding">
                    <input type="radio" name="question-{{q.id}}" id="radioQ{{q.id}}A4" ng-value="q.variants.v4"
                           ng-model="q.selectedAnswer" class="css-checkbox"/>
                    <label for="radioQ{{q.id}}A4" class="css-label" ng-bind="q.variants.v4"></label>
                </td>
            </tr>
        </table>
        <div class="text-muted">
            <p>верный ответ: {{q.correctAnswer}}</p>
            <p>ответ студента: {{q.selectedAnswer}}</p>
        </div>
    </div>
</div>
<div class="btn-finish" ng-show="buttonVisible">
    <button class="btn" ng-class="{'btn-danger': !validationOk, 'btn-success': validationOk}" ng-click="onSubmit()" ng-disabled="!validationOk">{{buttonMsg}}</button>
</div>
<div class="timer" ng-class="{'animated shake timerAlert': timerAlert}" ng-controller="TimerCtrl"  ng-bind-template="{{min | numberFixedLen:2}}:{{sec | numberFixedLen:2}}"></div>